
/**
graftak 10 months ago | parent | context | favorite | on: MacType: Better Font Rendering for Windows

You were likely looking for 81.25% which—with the universally accepted default browser font-size of 16px—equates to a whole 13px (16 * 0,8125).

	
graftak 10 months ago | parent [–]

I’m not exactly sure either but that is around the time I got started with css and I can still recall a lot of these 16px conversion ratios[1], they must have hade some significance.
Edit: now that I’m thinking about it, I (used to) use Spotlight for the conversions which was introduced in Mac OS X 10.4, released in 2005.

[1] 62.5% for 10px, 87.5% for 14px, etc.
*/

body {
	margin:0;
    font-family: Roboto, system-ui, sans-serif;
    font-size: 81.25%;
	background-color: rgba(191,161,46,1.0);
	color: rgba(255,255,255,1.0);
	line-height:18px;
}

#main {
	min-height: 100vh;
	background-color: rgba(215,225,225,0.25);
	color:#000;
}


#logo {
	display:inline-block;
	margin-bottom:13px;
	width: 59%;
}


#logo img {
	vertical-align: middle;
	max-width: 150px;
}


#container {
	padding-top: 85px;
}


.container-content {
	background-color: inherit;
}


.column {
	display: inline-block;
	background-color: #fff;
}

#container-left, #container-right {
	display:none;
}


#stage-content {
    text-align: left;
    color: hsl(300,0%,47%);
	min-height: 100vh;
}



#banner {
	display:none;
	height:60%;
}


#header {
	z-index:10;
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	height: 75px;
	background-color:#fff;
}

.header-content {
	padding-left:3%;
	padding-right:3%;
}



#stage {
	padding: 20px;
	position: relative;
	margin: 0 auto;
	width: 99%;
	font-family: "Helvetica Neuve",Helvetica;
	background-color: rgba(253,253,253,1.0);
	color: rgba(0,0,0,0.7);
	display: inline-block;
}



#alternate-footer {
	z-index:10;
	position:fixed;
	bottom:0px;
	left:0px;
	height: 100px;
	width:100%;
}


#alternate-footer {
	display: none;
	background-color: #232f3e;
	padding: 8px;
	font-family: "Helvetica Neuve",Helvetica;
}


footer {
    background-color: hsla(48, 55%, 46%, 1.0);
    color: hsla(48, 38%, 89%, 1.0);
    min-height: 50vh;
	-webkit-font-smoothing: antialiased;
}

footer .container {
    padding: 25px;
	font-size: 0.6rem;
}

.banner {
	width:100%;
	margin-bottom: 35px;
	font-size:0.65rem;
}


footer a, footer a:link, footer a:visited {
	color: hsla(48, 38%, 89%, 1.0);
}

footer a:hover {
	text-decoration: underline;
}

footer #legal {
	background-color: #ccc;
	color: #666;
	padding:20px;
	padding-top:40px;
	color:#666;
	padding-bottom: 40px;
}

.col {
	display: block;
}

.col ul li.label {
	font-weight:bold;
}

.col li {
	 list-style-type: none;   
	 padding:0.2rem;
}

